<div class="posts">
  {{#each posts}}
  <article class="card">
    <div class="card-header flex-row justify-space-between">
      <h2 >
        <a href="/dashboard/edit/{{id}}">{{post_title}}</a>
      </h2>
      <p href="/post/{{user_id}}">{{content}}</p>
      <div>
        Posted on {{format_date createdAt}}
      </div>
    </div>
    {{!-- <div class="card-body">
      {{body}}
    </div> --}}
  </article>
  {{/each}}
</div>