<div>
  <img src="/assets/images/Concept-black-car-silhouette-premium-vector-PNG.png" class="carSilhouette" alt="Cars">
</div>
<div class="info">
  <p>
    1 in 3 americans say that they would rather do their own taxes instead of dealing with a car salesman. Car salesmen are some of the most untrusted people in sales and we are trying to fix just that. Empowering the average consumer with in depth knowledge on various cars that they might be interested in, we put the facts in the consumers hands. Therefore consumers will be more educated when purchasing a vehicle, as well as more connected to the community when maintenance is required to get the best advice based on other peoples experiences.

  </p>
</div>
<div class="posts">
  {{#each posts}}
  <article class="card">
    <div class="card-header flex-row justify-space-between">
      <h2>
        <a href="/post/{{id}}">{{post_title}}</a>
      </h2>
      <div>
        Posted by {{user.username}} on {{format_date createdAt}}
      </div>
    </div>
    {{!-- <div class="card-body">
      {{body}}
    </div> --}}
  </article>
  {{/each}}
</div>